<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andon System</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <main class="container">
      <section class="flex-col text text-large">
        <h1>SPEC</h1>
        <h1>NEXT</h1>
        <h1>RUBBER</h1>
        <h1>COLOR</h1>
        <h1>PLAN</h1>
      </section>
      <section class="flex-col text-large">
        <div class="highlight-content-large">
          <h1 class="spec">255/45R20V XL 04W330</h1>
        </div>
        <div class="highlight-content-large">
          <h1 class="next">255/45R20V XL 04W330</h1>
        </div>
        <div class="highlight-content-large">
          <h1 class="rubber">P82 / U36 / S25 / U35</h1>
        </div>
        <div class="flex-row content-2">
          <div class="flex-col">
            <div class="box-color color-spec"></div>
            <div class="highlight-content">
              <h1 class="plan">2</h1>
            </div>
          </div>
          <div class="flex-row content">
            <div class="flex-col text text-large">
                <h1>LINE</h1>
                <h1>RESULT</h1>
            </div>
            <div class="flex-col text-large">
                <div class="box-status status"></div>
                <div class="highlight-content w-full">
                  <h1 class="result">2</h1>
                </div>
            </div>
          </div>
        </div>
      </section>

      <section class="notification">
            <h4 class="server none">Server Loss Connection!</h4>
            <h4 class="tcp">TCP Connection Failed!</h4>
        </section>
    </main>

    <script type="module" src="/js/index.js"></script>
  </body>
</html>
