<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andon System</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <main class="container">
        <section class="header-wrapper">
            <h1 class="title">EXTRUDING PLAN</h1>
            <div class="date-wrapper">
                <h1 class="date">01/01/1999</h1>
                <h1 class="time">00.00</h1>
            </div>
        </section>
        <section class="sub-container">
            <section class="main-wrapper">
                <div class="spec-wrapper">
                    <h1 class="spec-title">CURRENT SPECIFICATION</h1>
                    <h1 class="spec">265/65R17H 04RA43 LB</h1>
                </div>
                <div class="next-wrapper">
                    <h1 class="next-title">NEXT SPECIFICATION</h1>
                    <h1 class="next">265/65R17H 04RA43 LB</h1>
                </div>
                <div class="rubber-wrapper">
                    <h1 class="rubber-title">RUBBER SPECIFICATION</h1>
                    <h1 class="rubber">265/65R17H 04RA43 LB</h1>
                </div>
            </section>
            <section class="secondary-wrapper">
                <div class="color-wrapper">
                    <h1 class="color-title">COLOR SPECIFICATION</h1>
                    <div class="color-spec"></div>
                </div>
                <div class="inner-wrapper">
                    <div class="plan-wrapper">
                        <h1 class="plan-title">PLAN</h1>
                        <h1 class="plan">1</h1>
                    </div>
                    <div class="result-wrapper">
                        <h1 class="result-title">RESULT</h1>
                        <h1 class="result">0</h1>
                    </div>
                </div>
                
            </section>
        </section>

        <section class="notification">
            <h4 class="server none">Server Loss Connection!</h4>
            <h4 class="tcp none">TCP Connection Failed!</h4>
        </section>
    </main>

    <script type="module" src="/js/index.js"></script>
</body>
</html>